
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h1 style="color:black">Admin Control Panel</h1>
    <a href="~/Doctors/Index" class="btn btn-info" target="_blank">Doctors</a>
    <a href="~/Patients/Index" class="btn btn-info" target="_blank">Patients</a>
    <a href="~/Appointment1s/Index" class="btn btn-info" target="_blank">Appointments</a>
    <a href="~/Contacts/Index" class="btn btn-info" target="_blank">Contact</a>
</div>


