
@{
    ViewBag.Title = "Index";
}

<h2>Hospital Home Page</h2>
<p>
    @Html.ActionLink("Home", "Index", "Home")|
    @Html.ActionLink("Doctors", "Index", "Doctors")|
    @Html.ActionLink("Patients", "Index", "Patients")|
    @Html.ActionLink("Visits", "Index", "Visits")
</p>

