@{
    ViewBag.Title = "Home Page";
}

<div class="team-boxed">
    <div class="container intro1">
        <div class="intro"></div>
        <div class="row">
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <h3 class="boxname">Emergency Case</h3>
                    <p class="description">If in a mergency please contact .................................................</p><button class="btn btn-primary" type="button" id="ECreadmore">Read More</button>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <h3 class="boxname">Doctors Timetable</h3>
                    <p class="description">This is Doctors timetable please ......................................................</p><button class="btn btn-primary" type="button" id="DTTreadmore">Read More</button>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <h3 class="boxname">Opening Hours</h3>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Mon-Fri</label></div>
                        <div class="col"><label class="col-form-label">08:00 - 17:00</label></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Saturday</label></div>
                        <div class="col"><label class="col-form-label">09:00 - 14:00</label></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Sunday</label></div>
                        <div class="col"><label class="col-form-label">08:00 - 10:00</label></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Holiday</label></div>
                        <div class="col"><label class="col-form-label">Closed</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="PreContainer">
    <div class="container" id="welcome">
        <h1>Why Choose Us</h1>
        <p>We care about you &amp; your family's health</p>
        <div class="row">
            <div class="col item">
                <i class="fa fa-medkit"></i>
                <h1>Medical Excellence</h1>
                <p>We provide exccellence medical for our patients</p>
            </div>
            <div class="col item1">
                <i class="fa fa-heart"></i>
                <h1>Healthcare Professionals</h1>
                <p>We provide best doctors for our patients</p>
            </div>
            <div class="col item2">
                <i class="fa fa-flask"></i>
                <h1>Lastest Technologies</h1>
                <p>We provide newest technologies for our patients</p>
            </div>
        </div>
    </div>
</div>